<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->
    <rosparam command="load" file="$(find gslivom)/config/fastlivo_compressed.yaml" />
    <rosparam command="load" file="$(find gslivom)/config/basic_common.yaml" />

    <param name="debug_output" type="bool" value="0"/>
    <param name="output_path" type="string" value="$(find gslivom)/output"/>
    <node pkg="gslivom" type="livo_node" name="livo_node" output="screen" /> 

    <!-- <arg name="bag_path" value="/home/xieys/Downloads/bags/fastlivo/Visual_Challenge.bag" /> -->
    <arg name="bag_path" value="/home/xieys/Downloads/bags/fastlivo/hku1.bag" />

    <node pkg="rosbag" type="play" name="player" output="screen" args="-q -d 3 $(arg bag_path)"/>
    
    <param name="bag_path" value="$(arg bag_path)"/>
    <node pkg="gslivom" name="odom_listener" type="listen_odom.py"  output="screen" />
</launch>


